@import "src/assets/styles/breakpoints.module.scss";
@import "src/assets/styles/variables.module.scss";

.rating {
  display: flex;
}

.star {
  width: 36px;
  height: 36px;

  @media screen and (max-width: map-get($breakpoints, mobile)) {
    width: 18px;
    height: 18px;
  }
}

.starPath {
  fill: #e3e3e3;
}

.active .starPath {
  fill: $primary-color;
}
