@import "../../assets/styles/breakpoints.module.scss";
@import "../../assets/styles/variables.module.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  @media screen and (max-width: map-get($breakpoints, mobile)) {
    height: 255px;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 36px;
  font-weight: 500;
  color: $primary-color;
}

.location {
  font-size: 18px;
  font-weight: 500;
  color: $default-color;
}

.tagContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hostInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: $primary-color;
  text-align: right;
  width: 93px;
}

.hostPicture {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-size: cover;
}
