@import "src/assets/styles/breakpoints.module.scss";
@import "src/assets/styles/variables.module.scss";

.component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 50px 50px 0;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    padding: 20px 20px 0;
  }
}
