@import "../../assets/styles/breakpoints.module.scss";
@import "../../assets/styles/variables.module.scss";

.cards {
  position: relative;
  min-width: 340px;
  min-height: 340px;
  border-radius: 10px;
  background-size: cover;
  padding-top: 320px;
  padding-left: 20px;
  flex-grow: 1;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    padding: 0;
    width: 100%;
  }
}

.cardTitle {
  position: absolute;
  bottom: 20px;
  color: $light-color;
  font-size: 18px;
  font-weight: 700;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    padding: 20px;
  }
}
