@import "../../assets/styles/breakpoints.module.scss";
@import "../../assets/styles/variables.module.scss";

.component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.containerOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  width: 100%;
  height: 32px;
  padding: 20px;
  border-radius: 5px;
}

.title {
  color: $light-color;
  font-size: 18px;
  font-weight: 700;
}

.arrow {
  margin-left: 18px;
  transition: transform 0.5s ease;
}

.rotateUp {
  transform: rotate(0deg);
}

.rotateDown {
  transform: rotate(180deg);
}

.collapseInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: left;
}

.hidden {
  display: none;
}
