@import "../../assets/styles/breakpoints.module.scss";
@import "../../assets/styles/variables.module.scss";

.component {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.containerCollapses {
  display: flex;
  width: 100%;
  min-width: 520px;
  justify-content: space-between;
  gap: 76px;
}

.ulCollapse {
  width: 100%;
  list-style: none;
}

.collapseItem {
  font-size: 18px;
  font-weight: 400;
}
